<h1>Task List</h1>
<header>
  
</header>
<h1>These are your tasks!</h1>
<% @tasks.each do |task| %>
  <h2><%= link_to "Task: #{task.name}", task_path(task.id) %>
  </h2>
</a>
  <p> to <%= task.description %></p>
<% end %>
