// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .list-container{
//   display: flex;
//   height: 150px;
//   width: auto;
//   border: 2px solid black;
// }
.list-items{
  font-size: 15px;
  color: black;
}
*{
  background-color: #F7EFED;
}
